.AdminPage {
    width: 70%;
    display: grid;
    grid-template-rows: 15vh 45vh 35vh;
}

.AdminTopHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.AdminTopHeader > img {
    height: 100px;
}

.AdminLoginInfo {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.AdminLoginInfo > h4 {
    font-weight: bold;
}

.AdminLoginInfo > p {
    text-decoration: underline;
}

.AdminTitle {
    color: #F9B019;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.GraphContainer {
    height: 100%;
    display: flex;
}

.GraphContainer > h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #632390;
    text-align: right;
}

.DoughnutGraph {
    width: 75%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.DoughnutGraph > canvas {
    overflow: visible;
}

.UserItemsDiv {
    margin: 2vh;
    border-radius: 5px;
    background-color: #F5F5F5;

    display: grid;
    grid-template-rows: 20% 70%;
}

.UserItemsHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 5px;
    padding: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #632390;
}

.UserItemsScrollDiv {
    overflow-y: scroll;
}
