.AdminPage {
  width: 60%;
  display: grid;
  grid-template-rows: 10vh 40vh 30vh;
}

.AdminHeader {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.GraphContainer {
    display: flex;
}

.DoughnutGraph {
  width: 100%;
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
}

.UserItemsDiv {
  margin: 2vh;
}

.UserItemsScrollDiv {
  height: 60%;
  overflow-y: scroll;
}

.UserItemsHeader {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  margin: 5px;
  padding: 5px;
}
