/* ///// Video and form section ///// */

/* div containing video and form */
.videoAndForm {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 450px;
}

/* video that's placed with form */
.form-video,
iframe {
  width: 425px;
  height: 450px;
  background-color: #632390;
  width: 30vw;
}

/* sign-up form */
.signup-form,
.subscribed {
  width: 575px;
  height: 450px;
  background-color: #632390;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form p {
  width: 400px;
  height: 27px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
.email-div input::placeholder {
  padding-left: 15px;
}

.email-div input {
  margin-top: 5px;
  padding: 10px 30px;
  width: 405px;
  height: 55px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.email-div label {
  position: relative;
}

.email-div label::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(../../graphics/Email\ Icon.svg) center / contain no-repeat;
}

.name-div input::placeholder {
  padding-left: 15px;
}

.name-div input {
  width: 195px;
  height: 55px;
  margin: 15px 7.5px 0 7.5px;
  padding: 0 14px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
}

select {
  padding: 0 15px;
  margin-top: 15px;
  width: 470px;
  height: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #c4c4c4;
}

select option {
  color: #000000;
}

.submit-div input {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  width: 330px;
  height: 60px;
  color: #0e2752;
  background: #f9b019;
  border-radius: 69px;
}

.subscribed h1,
p {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  /* display: flex;
  flex-direction: row; */
}

.subscribed h1 {
  width: 483px;
  height: 88px;
  font-size: 36px;
  line-height: 44px;
}

.subscribed p {
  margin-top: 20px;
  width: 394px;
  height: 72px;
  font-size: 20px;
  line-height: 24px;
}

.welcome-text p {
  margin-top: 36px;
  width: 995px;
  height: 111px;
  color: #343434;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
}

/* .image {
display: flex;
align-items: center;
justify-content: center;
width: 490px;
height: 274px;
margin-top:36px;
margin-right: 105px;
}

.text {
  text-align: left;
  display: block; 
} */

.LandingBoxOne {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.LandingImageOne {
  width: 490px;
  height: 274px;
}

.LandingTextOne {
  display: block;
}

.LandingBoxTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.LandingImageTwo {
  width: 490px;
  height: 274px;
}

.LandingTextTwo {
  display: block;
}

.LandingBoxThree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
}

.LandingImageThree {
  width: 490px;
  height: 274px;
}

.LandingTextThree {
  display: block;
}
