* {
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #632390;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F9B019;
  border-radius: 10px;
}